/*
.logo:hover{
    scale: 1.1;
}
body {
    background-color: rgba(255, 255, 255, 0.516);
}
.navli{
    transition: all 0.6;
}
.navli:hover{
   background-color: #facecfd2;
   border-radius: 4px;
}
.navbar {
    width: 100%;
}

.navbar li{
    margin-left: 20px;
}


.nav1 {
    display: flex;
    justify-content: space-between;
}


.descri{
    margin-left: 20px;
}

*/

 @media (max-width: 1200px) {
    .sidebar {
        background-color: rgba(40, 39, 39, 0.868);
    }
}
.logo {
    width: 150px;
    filter: drop-shadow(2px 2px 3px rgba(240, 237, 237, 0.273)) ;
    transition: all 1s;
}
.img-1 {
    width: 400px;
} 
.img-main{
    filter: blur(70%);
    z-index: -1;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 45, 45);
}
.navbar1{
    display: flex;
    justify-content: end;
    z-index: 10;
}
span {
    color: #8b4b66;
    text-decoration: underline;
    font-size: large;
}
hr{
    border: 2px solid  #201919;
}
h1 {
    background-image:  linear-gradient(90deg, #ff9a9e 0%, #fecfef 100%);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;

}
.container-kun{
    background-color: #545252;
    padding: 20px;
    border-radius: 2px;
} 
.img1 {
    filter: brightness(95%);
    height: auto;
    width: auto;
}